pip>=20
# ^ Pip needs to be able to reliably parse the below:
nio-bot[e2ee,cli] @ git+https://github.com/EEKIM10/niobot.git@master
yt_dlp
httpx>=0.24.1
psutil>=5.9.5
humanize>=4.6.0
beautifulsoup4>=4.12.2
aiosqlite>=0.19.0
packaging>=15
